@import "normalize";

//variables
$mainBg: #eee;
$mainTxt: #333;

* {
  box-sizing: border-box;
}

body {
  color: $mainTxt;
  background-color: $mainBg;
}

.box {
  height: 300px;
  width: 300px;
  transform: rotate(45deg);
}